@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGD_j0nMiB9fPhg_k1wdK2h0.woff2) format('woff2');
}

body {
	font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
	letter-spacing: -0.03em;
	margin: 0px;
	min-width: 800px;
	font-weight: 300;
}

nav {
	height: 38px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 39px;
	text-align: right;
	border-bottom: 1px solid #b83130;
	background: #cb3837;
	overflow: hidden;
}
nav > a {
	display: inline-block;
	line-height: 38px;
	padding: 0 10px;
	margin: 0;
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	background: #cb3837;
	transition: all 0.1s;
}
nav > a:first-child {
	float: left;
}
nav > a:hover {
	color: #fff;
}
nav > a:hover:not(:first-child) {
	background: #a42b2b;
}

header {
	padding: 14px 20px 10px;
	border-bottom: 1px solid #d3d3d3;
	background: rgba(0,0,0,0.08);
	display: flex;
	font-size: 24px;
	min-width: 600px;
	-webkit-align-items: center;
	align-items: center;
}

#npm-logo {
	position: relative;
	width: 125px;
	height: 49px;
}

.lmtfy {
	padding-bottom: 2px;
}

#front-page-container {
	margin-top: 22px;
	overflow-y: hidden;
	height: calc(100vh - 135px);
	min-width: 800px;
	width:100%;
	text-align: center;
}
#front-page-container > img {
	max-width: 100%;
}


#cursor {
	position: absolute;
}

form#npm-search {
	position: relative;
	height: 45px; /* 47 is how it displays in chrome*/
	padding: 0;
	margin: 0 1em;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	background: #fff;
	text-align:left;
	flex: 1 0 auto;
	order: 2;
}
form#npm-search.hover,
form#npm-search:hover {
	border: 1px solid rgba(0,0,0,0.4);
}

div#site-search-container {
	margin: 7px 80px 0 7px;
}

input[type=text]#site-search {
	font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
	background: none;
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0 2px 0 0;
	height: 30px;
	font-size: 18px;
	font-weight: 300;
	vertical-align: middle;
	width: 100%;
}

input[type=submit]#site-search-submit {
	position: absolute;
	top: 0;
	right: 0;
	outline: 0;
	height: 45px;
	width: 46px;
	text-indent: -9999em;
	cursor: pointer;

	border: 0;
	padding: 0 35px;
	margin: 0 0 4px;

	border-left: 1px solid rgba(0,0,0,0.2);
	border-radius: 1px;

	background: url("./img/ico-search.svg") no-repeat 50% 50%;
	background-size: 16px 16px;
}
input[type=submit]#site-search-submit:hover,
input[type=submit]#site-search-submit.hover {
	background: #cb3837 url("./img/ico-search-hover.svg") no-repeat 50% 50%;
	background-size: 16px 16px;
}
