body {
	margin: 0px;
	min-width: 800px;
	font-family: 'Source Sans Pro', 'Lucida Grande', 'Arial Narrow', sans-serif;
}

nav {
	height: 38px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 39px;
	text-align: right;
	border-bottom: 1px solid #b83130;
	background: #cb3837;
	overflow: hidden;
}

header {
	padding: 14px 20px 10px;
	background: rgba(0,0,0,0.08);
	border-bottom: 1px solid #d3d3d3;

	font-size: 24px;
	font-weight: 300;
	min-width: 600px;
}

#npm-logo {
	position: relative;
	vertical-align: top;
	width: 125px;
	height: 49px;
}

#front-page-container {
	margin-top: 22px;
	overflow-y: hidden;
	height: calc(100vh - 135px);
	min-width: 800px;
	text-align: center;
}

@media screen and (min-width: 801px) {
	#front-page-container > img { max-width: 100%; }
	#site-search-text { width: calc(100vw - 450px); }
}
@media screen and (max-width: 800px) {
	#front-page-container > img { width: 800px; }
	#site-search-text { width: 352px; }
}

#cursor {
	position: absolute;
}

#site-search-form {
	display: inline;
	height: calc(100vh - 360px);
}

#site-search-text {
	height: 30px;
	padding: 8px;
	border-radius: 2px;
	border-width: 1px;
	border-color: #bbb;
	font-family: 'Source Sans Pro', 'Lucida Grande', 'Arial Narrow', sans-serif;
	font-size: 18px;
	outline: 0;
}

#site-search-text:hover, #site-search-text.hover {
	border-color: #000;
}

#site-search-submit {
	margin-top: 0;
	margin-left: -100px;
	height: 47px;
	width: 94px;
	text-indent: -9999em;
	cursor: pointer;

	padding: 0;
	outline: 0;
	border: 0;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-radius: 1px;

	background: url("./img/ico-search.svg") no-repeat 50% 50%;
	background-size: 16px 16px;
}

#site-search-submit:hover, #site-search-submit.hover {
	background: #cb3837 url("./img/ico-search-hover.svg") no-repeat 50% 50%;
	background-size: 16px 16px;
}
